@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  /* border: 1px solid black; */
}

nav{
  background-color: rgba(44, 30, 242);
  color: white;
  padding: 20px;
  text-align: center;

}
.container{
  background-color:pink;
  width: 70%;
  height: 70%;
  margin:auto;
  min-height: 100vh;
  padding: 4vmax 8vmax;
  box-sizing: border-box;
}

.container > h1{
  text-align: center;
  margin: 20px;
}

.container > form{
  display: flex;
  flex-direction: column;

}

input,
 textarea,
 button{
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.215);
  border-radius: 5px;
  margin: 10px 0;
  font-size: 1.2rem;
}

button{
  border: none;
  cursor: pointer;
  color: white;
  background-color: rgba(37,37, 37);
  /* margin: 10px; */
}

.task{
  display: flex;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  margin: 20px 0;
}

.task > div {
  width: 100%;
}

.task span{
  color: rgba(0, 0, 0, 0.675);
}
.task button{
  border-radius: 100%;
  width: 30px;
  height:30px;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task button:hover{
  background-color: red;
}